
  <div class="Cupcake-container ms-3 me-3">
    <form class="Cupcake-form pb-4" action="#">

{# Flavor #}
      <div class="mb-3 row">
          <label class="col-5 col-form-label text-end">Flavor:</label>
          <div class="col-7">
            <input
                name="flavor"
                required
                aria-label="flavor"
                class="form-control">
          </div>
      </div>
{# Size #}
      <div class="mb-3 row">
          <label class="col-5 col-form-label text-end">Size:</label>
          <div class="col-7">
            <input
                name="size"
                required
                aria-label="size"
                class="form-control">
          </div>
      </div>

{# Rating #}
      <div class="mb-3 row">
          <label class="col-5 col-form-label text-end">Rating:</label>
          <div class="col-7">
            <input
                name="rating"
                required
                aria-label="rating"
                class="form-control">
          </div>
      </div>

{# Image URL #}
      <div class="mb-3 row">
          <label class="col-5 col-form-label text-end">Image URL:</label>
          <div class="col-7">
            <input
                name="image-url"
                required
                aria-label="image-url"
                class="form-control">
          </div>
      </div>


      <button class="btn btn-primary btn-lg w-100">
        Add cupcake!
      </button>
    </form>
  </div>
