{% extends "base.jinja" %}

{% block content %}
    <h1 class="pt-4 mb-3 text-center">Cupcake list</h1>

    <ul class="Cupcake-list list-group mb-3 horizontal-scrollable">

    </ul>

    {% include "_cupcake_form.jinja" %}
{% endblock  %}


